<mat-toolbar class="navbar">
  <div class="nav-title mat-subheading-1" data-cy="nav-title">
    <a class="nav-link" routerLink="">CooKing</a>
  </div>
  <div *ngIf="!isLogged; else isLoginBlock" >
    <img (click)="showSideNav()" class='burger-icon'
         src="https://cookingstorage.blob.core.windows.net/icons/menu-hamburger.svg"/>
    <div class="buttons">
      <a mat-button routerLink="/login">Log in</a>
      <a mat-raised-button color="primary" routerLink="/signup">Sign up</a>
    </div>
  </div>
  <ng-template #isLoginBlock>
    <div class="cos">
      <a mat-raised-button class="logout-button" color="primary" (click)="logoutUser()">Logout</a>
      <img (click)="showSideNav()" class="burger-icon-logged"
           src="https://cookingstorage.blob.core.windows.net/icons/menu-hamburger.svg"/>
    </div>
  </ng-template>

</mat-toolbar>
