@import '../../../../assets/styles/cooking-style.scss';

.navbar {
  display: flex;
  justify-content: space-between;
}

.nav-title {
  margin: 0 0 0 2vw;
}

.cos {
  width: 10rem;
  display: flex;
  justify-content: space-between;
}

.mat-toolbar {
  background-color: white;
  border-bottom: solid 1px #c0bcbc;
}

.mat-raised-button {
  border-radius: 2rem;
  height: 2rem;
}

.nav-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.burger-icon, .burger-icon-logged {
  width: calc(0.4em + 1vw);
  height: calc(0.4em + 1vw);
  display: none;

  &:hover {
    cursor: pointer;
  }
}

.burger-icon-logged {
  display: inline;
}

@media (max-width: 1000px) {
  .buttons {
    display: none;
  }
  .burger-icon {
    display: inline;
  }
  .logout-button {
    display: none;
  }
}
