@import '../../../../assets/styles/cooking-style.scss';

.navbar {
  display: flex;
  justify-content: space-between;
  align-content: center;
}

.buttons {
  display: flex;
  align-items: center;
  margin: 0 2vw 0 0;
}

.nav-title {
  margin: 0 0 0 2vw;
}

.logout-container {
  width: 10rem;
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 2vw 0 0;
}

.mat-toolbar {
  background-color: white;
  border-bottom: solid 1px #c0bcbc;
}

.mat-raised-button {
  border-radius: 2rem;
  height: 2rem;
}

.nav-link {
  color: black;
  cursor: pointer;
  text-decoration: none;
}

.burger-icon,
.burger-icon-logged {
  width: calc(0.5em + 0.5vw);
  height: calc(0.5em + 0.5vw);
  display: none;

  &:hover {
    cursor: pointer;
  }
}

.burger-icon-logged {
  display: inline;
}

@media (max-width: 1000px) {
  .buttons {
    display: none;
  }

  .burger-icon {
    display: inline;
  }

  .logout-button {
    display: none;
  }

  .logout-container {
    justify-content: flex-end;
  }
}
