<mat-toolbar>
  <div class="nav-title mat-subheading-1" data-cy="nav-title">
    <a class="nav-link" routerLink="">CooKing</a>
  </div>
  <div class="space"></div>
  <img (click)="onChangeState()" class='burger-icon'
    src="https://cookingstorage.blob.core.windows.net/icons/menu-hamburger.svg" />
  <div class="space3"></div>
  <a mat-button routerLink="/login">Log in</a>
  <div class="space2"></div>
  <a mat-raised-button color="primary" href="https://www.google.com/" target="_blank">Sign up</a>
  <div class="space2"></div>
</mat-toolbar>
