<div class="container">
  <div class="container-wrapper">
    <span class="signup-title mat-subheading-2">Create account</span>

    <form class="signup-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field">
        <mat-label>Old Password</mat-label>
        <input type="password" matInput placeholder="Password" [formControl]="oldPassword">
        <mat-error *ngIf="oldPassword.hasError('minlength') && !oldPassword.hasError('required')">
          Old password must be at least 6 character
        </mat-error>
        <mat-error *ngIf=" oldPassword.hasError('required')">
          Old password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" [formControl]="password" [(ngModel)]="passwordValidator">
        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
          Password must be at least 6 character
        </mat-error>
        <mat-error *ngIf=" password.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Confirm Password</mat-label>
        <input type="password" matInput placeholder="Password" [formControl]="confirmPassword">
        <mat-error *ngIf=" confirmPassword.hasError('required')">
          Confirm Password is required
        </mat-error>
      </mat-form-field>

      <app-password-strength-bar [passwordToCheck]="passwordValidator" [barLabel]="barLabel">
      </app-password-strength-bar>

      <ng-container *ngIf="isSignUpValid === false">
        <mat-error class="invalid-message">Passwords must match</mat-error>
      </ng-container>

      <ng-container *ngIf="isChangeValid === false">
        <mat-error class="invalid-message">Old password is incorrect</mat-error>
      </ng-container>

      <mat-card-actions>
        <button type="submit" class="signup-button" mat-raised-button color="primary">Change Password</button>
      </mat-card-actions>
    </form>
  </div>
</div>
