<mat-sidenav-container class="sidenav-container">
  <mat-sidenav class="sidenav" #sidenav position="end" [(opened)]="opened">
    <ng-container *ngIf="!isLogged">
      <button class="sidenav-button" (click)="sidenav.toggle()" routerLink="/login">Log in</button>
      <button class="sidenav-button" (click)="sidenav.toggle()" routerLink="/signup">Sign up</button>
    </ng-container>
    <ng-container *ngIf="isLogged">
      <button class="sidenav-button" (click)="sidenav.toggle()" routerLink="/favourite-recipe">Favourites</button>
      <button class="sidenav-button" (click)="sidenav.toggle()" routerLink="/signup">Change password</button>
      <button class="sidenav-button" (click)="sidenav.toggle(); onDeleteUser()">
        Delete account
      </button>
      <button *ngIf="srcWidth <= 1000" class="sidenav-button" (click)="sidenav.toggle(); onLogoutUser()">Logout</button>
    </ng-container>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
