<mat-sidenav-container class="sidenav-container" [hasBackdrop]="false" autosize="true">
  <mat-sidenav class="sidenav" #sidenav position="end" [(opened)]="opened">
    <button class="sidenav-button" (click)="sidenav.toggle()" routerLink="/login">Log in</button>
    <button class="sidenav-button" (click)="sidenav.toggle()" routerLink="/register">Sign up</button>
    <div class="spacer"></div>
  </mat-sidenav>
  <mat-sidenav-content>
    <router-outlet></router-outlet>
  </mat-sidenav-content>
</mat-sidenav-container>
