@import '../../../../assets/styles/cooking-style.scss';

a {
  color: #000000;
  text-decoration: none;
}

.recommendation-title {
  font-size: calc(1rem + 1vw);
}

// .yellow_bar {
//   grid-area: yellow_bar;
// }
// .yellow_bar button {
//   border: none;
//   height: 0.4rem;
//   width: calc(6rem + 5vw);
//   border-radius: 0.4rem;
//   background-color: mat-color($cooking-primary, 500);
// }

.container {
  margin: 2vw 12vw 0vw 12vw;
}

.grid-tiles-container {
  display: grid;
  justify-content: center;
  grid-template-columns: repeat(auto-fit, 17rem);
  gap: 3vw;
}

.grid-tiles-container .tile-image {
  border-radius: 1.85rem;
  width: 15rem;
  height: 15rem;
  object-fit: cover;
}

.tile-details {
  padding: 1vw 1rem 1rem 1rem;
}

.tile-title {
  line-height: 100%;
  margin-bottom: 0.5rem;
  font-size: 1.5rem;
  font-weight: 700;
}

.tile-rate-icon {
  width: calc(1rem + 0.5vw);
  height: calc(1rem + 0.5vw);
  margin-right: 0.3vw;
}

.tiles-container {
  display: flex;
  justify-self: center;
}

.tile {
  border-radius: 2rem;
  width: 15rem;
  height: 97%;
  box-shadow: 0 6px 20px 0 rgba(0, 0, 0, 0.1);
  margin: 5px;
  margin-bottom: 1vw;

  &:hover {
    border-radius: 2rem;
    box-shadow: 0 5px 31px 0 mat-color($cooking-primary, 500);
    margin: 0px;
    margin-bottom: 1vw;
    cursor: pointer;
  }
}
