<div class="container">
  <div class="recommendation-title mat-subheading-2" data-cy="recommendation-title">
    <div>Recommendation</div>
    <!-- <div class="yellow_bar">
      <button disabled="disabled"></button>
    </div> -->
  </div>

  <div class="grid-tiles-container">
    <div class="tiles-container" *ngFor="let recipe of shortRecipes; let i = index">
      <a [routerLink]="['/recipe', recipe.recipeId]">
        <div class="tile">
          <img class="tile-image" [src]="shortRecipes[i].image" />
          <div class="tile-details">
            <div class="tile-title mat-display-1">{{ shortRecipes[i].name }}</div>
            <div class="tile-rate">
              <ng-container *ngFor="let rate of ratesCounter(shortRecipes[i].rate)">
                <img class="tile-rate-icon" src="https://cookingstorage.blob.core.windows.net/icons/star.png" />
              </ng-container>
            </div>
          </div>
        </div>
      </a>
    </div>
  </div>
</div>
