@import '../../../../assets/styles/cooking-style.scss';

.container {
  padding-left: 10vw;
  padding-right: 10vw;
  padding-top: 5vw;
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: auto auto auto;
  gap: 0.5vw 0.5vw;
  grid-template-areas:
    'recipe-details-section recipe-image-section'
    'recipe-ingredients-list-section recipe-image-section'
    'recipe-instructions-section recipe-instructions-section';
}

.recipe-details-section {
  grid-area: recipe-details-section;
}
.recipe-image-section {
  grid-area: recipe-image-section;
  justify-content: center;
  align-content: center;
}
.recipe-ingredients-list-section {
  grid-area: recipe-ingredients-list-section;
}
.recipe-instructions-section {
  grid-area: recipe-instructions-section;
}

.recipe-details-wrapper {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  grid-template-rows: repeat(3, 1fr);
  gap: 0.5vw 0.5vw;
  grid-template-areas:
    'cusine-name cusine-name cusine-name '
    'cusine meal difficulty '
    'duration calories servings ';
  // 'yellow_bar yellow_bar yellow_bar';
}

// .recipe-details-wrapper div {
//   white-space: pre-wrap;
// }

.cusine-name {
  grid-area: cusine-name;
}

.duration {
  grid-area: duration;
}

.calories {
  grid-area: calories;
}

.servings {
  grid-area: servings;
}

.cusine {
  grid-area: cusine;
}

.meal {
  grid-area: meal;
}

.difficulty {
  grid-area: difficulty;
}

.ingredients-list {
  grid-area: ingredients-list;
}

.instructions-list {
  grid-area: instructions;
}

.mat-subheading-2 {
  margin-bottom: 1vw;
  line-height: calc(1.5rem + 2vw);
  font-size: calc(1.5rem + 2vw);
}

.mat-display-2,
.mat-display-1 {
  line-height: 100%;
  margin-bottom: 0.8vw;
}

.mat-display-2 {
  font-size: calc(100% + 1vw);
  font-weight: 700;
}

.mat-display-1 {
  font-size: calc(80% + 1vw);
  color: #858585;
}

.rating-short {
  font-size: 0.8rem;
  margin-bottom: calc(2rem + 1vw);
}

.rating-short-icon,
.difficulty-icon {
  width: calc(0.7em + 1vw);
  height: calc(0.7em + 1vw);
}

.rating-short-icon {
  margin-right: 0.3vw;
}

.difficulty-icon {
  padding: 0;
  margin: 0 0.2vw 0 0;
}

// .instructions div {
//   padding-top: 1vw;
// }

// .difficulty img {
//   width: 1rem;
//   height: 1rem;
//   margin: 0 0.2vw 0 0;
// }

// .difficulty .gray-font ul {
//   padding: 0;
// }

// .difficulty .gray-font ul li {
//   display: inline;
// }

// .yellow_bar {
//   grid-area: yellow_bar;
// }

// .yellow_bar button {
//   border: none;
//   height: 0.4rem;
//   width: calc(6rem + 5vw);
//   border-radius: 0.4rem;
//   background-color: mat-color($cooking-primary, 500);
// }

.cusine-image-img {
  width: 100%;
  height: 50vh;
  max-height: 35rem;
  border-radius: 1rem;
  object-fit: cover;
}

.ingredient {
  font-size: 1rem;
  list-style: none;
}

.ingredient li::before {
  content: '\2022';
  color: mat-color($cooking-primary, 500);
  font-weight: bold;
  display: inline-block;
  width: 1rem;
  margin-left: -1em;
  font-size: 1.4rem;
}

.instruction-step {
  font-size: 1rem;
  list-style: none;
  counter-reset: li;
}

.instruction-step li::before {
  content: '.' counter(li);
  color: mat-color($cooking-primary, 500);
  display: inline-block;
  width: 1em;
  margin-left: -1.5em;
  margin-right: 0.5em;
  text-align: right;
  direction: rtl;
  font-size: 1.2rem;
}

.instruction-step li {
  counter-increment: li;
  padding-bottom: 1vw;
}

@media (max-width: 1000px) {
  .container {
    grid-template-columns: 1fr;
    grid-template-rows: repeat(4, auto);
    gap: 0.5vw 0.5vw;
    grid-template-areas:
      'recipe-image-section'
      'recipe-details-section'
      'recipe-ingredients-list-section'
      'recipe-instructions-section';
  }
}
