<div class="container">
  <div class="recipe-details-section" data-cy="recipe-details">
    <div class="recipe-details-wrapper">
      <div class="cusine-name" data-cy="cusine-name">
        <div class="mat-subheading-2">{{ recipe.name }}</div>
        <div class="rating-and-favourite">
          <div class="rating">
            <ng-container *ngFor="let i of [].constructor(rate)">
              <img class="rating-icon" src="https://cookingstorage.blob.core.windows.net/icons/star.png" />
            </ng-container>
          </div>
          <div *ngIf="logged">
            <button class="favourite-icon-button" mat-mini-fab aria-label="Remove from favourites" color="white"
              [ngClass]="recipe.favourite==false ? 'unliked-recipe' : 'liked-recipe'"
              (click)="onChangeFavourites(recipe)">
              <mat-icon>favorite</mat-icon>
            </button>
          </div>
        </div>
      </div>

      <div class="cusine">
        <div class="mat-display-2">Cusine</div>
        <div class="mat-display-1">{{ recipe.cuisineTypeValue }}</div>
      </div>

      <div class="meal">
        <div class="mat-display-2">Meal</div>
        <div class="mat-display-1">{{ recipe.mealTypeValue }}</div>
      </div>

      <div class="difficulty">
        <div class="mat-display-2">Difficulty</div>
        <div class="difficulty-icons">
          <ng-container *ngFor="let i of [].constructor(difficultyLevel)">
            <img class="difficulty-icon" src="https://cookingstorage.blob.core.windows.net/icons/chef.svg" />
          </ng-container>
        </div>
      </div>

      <div class="duration">
        <div class="mat-display-2">Duration</div>
        <div class="mat-display-1">{{ recipe.prepareTimeValue }}</div>
      </div>

      <div class="calories">
        <div class="mat-display-2">Calories</div>
        <div class="mat-display-1">{{ recipe.calories }}</div>
      </div>

      <div class="servings">
        <div class="mat-display-2">Servings</div>
        <div class="mat-display-1">{{ recipe.servings }}</div>
      </div>
    </div>
    <hr>
  </div>

  <div class="recipe-image-section">
    <div class="cusine-image" data-cy="cusine-image">
      <img class="cusine-image-img" [src]="recipe.image" />
    </div>
  </div>

  <div class="recipe-ingredients-section" data-cy="ingredients-section">
    <div class="ingredients-list">
      <div class="mat-display-2">Ingredients:</div>
      <ul class="ingredient">
        <li *ngFor="let ingredient of recipe.ingredients">{{ ingredient.quantity }} {{ ingredient.unitDictEntityValue }}
          {{ ingredient.name }}</li>
      </ul>
    </div>
  </div>

  <div class="recipe-instructions-section" data-cy="instructions-section">
    <div class="instructions-list">
      <div class="mat-display-2">Instructions:</div>
      <ol class="instruction-step">
        <li *ngFor="let step of recipeSteps">{{ step }}</li>
      </ol>
    </div>
  </div>
</div>
