<div class="container">
  <div class="section1">

    <div class="grid-container">
      <div class="cusine_Name">
        <div class ="cusine_title">{{recipe.cusine_title}}</div>
        <div class="rating_short"><img src = "./assets/star.png"/>{{recipe.rating_short}}</div>
      </div>

      <div class="cusine">
        <div class= "bold_font">Cusine</div>
        <div class = "gray_font">{{recipe.cusine_type}}</div>
      </div>

      <div class="meal">
        <div class="bold_font">Meal</div>
        <div class ="gray_font">{{recipe.meal_type}}</div>
      </div>

      <div class="difficulty">
        <div class="bold_font">Difficulty</div>
        <div class="gray_font">
          <ul>
            <ng-container *ngFor="let i of [].constructor(recipe.difficulty)"><img src = "./assets/chef.svg"/></ng-container>
          </ul>
        </div>
      </div>

      <div class="duration">
        <div class="bold_font">Duration</div>
        <div class ="gray_font">{{recipe.duration}}</div>
      </div>

      <div class="calories">
        <div class="bold_font">Calories</div>
        <div class = "gray_font">{{recipe.calories}}</div>
      </div>

      <div class="servings">
        <div class="bold_font">Servings</div>
        <div class ="gray_font">{{recipe.servings}}</div>
      </div>

      <div class="yellow_bar"><button disabled="disabled"></button></div>

    </div>
  </div>
  <div class="section2">
    <div class="cusine_image"><img src = "./assets/rice_chicken.jpg" class="meal_image2"></div>
  </div>
  <div class="section3">
    <div class="ingredients">
      <div class = bold_font>Ingredients:</div>
      <ul>
        <li *ngFor="let ingredient of recipe.ingredients">{{ingredient}}</li>
      </ul> 
    </div>
  </div>
  <div class="section4">
  <div class="instructions">
    <div class = bold_font>Instructions:</div>
      <ol>
        <li *ngFor="let step of recipe.steps">{{step}}</li>
      </ol>           
    </div>
  </div>
</div>

