# dependencies
/node_modules

# CypressIO
cypress/results/*
cypress/reports/*
cypress/screenshots/*
cypress/videos/*

# IDE - VSCode
.vscode/*
!.vscode/settings.json
!.vscode/tasks.json
!.vscode/launch.json
!.vscode/extensions.json
.history/*
.prettierrc
