@import '../../../../assets/styles/cooking-style.scss';

.mat-subheading-1 {
  display: block;
}

.container {
  display: flex;
  justify-content: center;
  margin: 6rem 10%;
}


.form-field {
  box-sizing: border-box;
  margin-top: 1rem;
  width: 100%;
}

.login-info,
.login-title {
  display: block;
  text-align: center;
}

.login-title {
  line-height: calc(3rem + 0.5vw);
  font-size: calc(3rem + 0.5vw);
}

.login-info {
  line-height: calc(1rem + 0.5vw);
  font-size: calc(1rem + 0.5vw);
  margin-bottom: 1rem;
}

.login-form {
  width: 80%;
  margin: auto;

}

.login-button {
  margin-top: 2rem;
  width: 100%;
}
