<div class="container">
  <div class="login-form-container">
    <span class="welcome-title mat-subheading-2">Welcome back!</span>
    <form name="form" [formGroup]="form" (ngSubmit)="form.valid && onSubmit()">
      <div class="form-group">
        <label for="username">Username</label>
        <input type="text" class="form-control" formControlName="username"
          [ngClass]="{'is-invalid':form.get('username').touched && form.get('username').invalid}" />
        <div *ngIf="form.get('username').touched && form.get('username').invalid" class="invalid-feedback">
          <div *ngIf="form.get('username').errors.required">Username is required</div>
        </div>
      </div>
      <div class="form-group">
        <label for="password">Password</label>
        <input type="password" class="form-control" formControlName="password"
          [ngClass]="{'is-invalid':form.get('password').touched && form.get('password').invalid}" />
        <div *ngIf="form.get('password').touched && form.get('password').invalid" class="invalid-feedback">
          <div *ngIf="form.get('password').errors.required">Password is required</div>
          <div *ngIf="form.get('password').errors.minlength">Password must be a letaset 6 charector</div>
        </div>

      </div>
      <div class="form-group">
        <button class="btn btn-primary" [disabled]="!form.valid" (click)="doLogin()">Login</button>
      </div>
      <div *ngIf="showErrorMessage">
        <h1>Invalid username and password Please try again</h1>
      </div>
    </form>
  </div>
  <div class="image">
    <!-- <img class="image"
    src="https://images.unsplash.com/photo-1621146027714-e8921770f8d0?ixid=MnwxMjA3fDB8MHxwaG90by1wYWdlfHx8fGVufDB8fHx8&ixlib=rb-1.2.1&auto=format&fit=crop&w=634&q=80">
  </div> -->
  </div>
