<div class="container">
  <div class="container-wrapper">

    <span class="login-title mat-subheading-2">Welcome back!</span>
    <span class="login-info mat-display-2">Please log in to your account</span>

    <form class="login-form" (ngSubmit)="onSubmit()">
      <mat-form-field class="form-field">
        <mat-label>Username</mat-label>
        <input type="username" matInput placeholder="Username" [formControl]="username" data-cy="username">
        <mat-error *ngIf="username.hasError('minlength') && !username.hasError('required')">
          Username must be at least 6 character
        </mat-error>
        <mat-error *ngIf="username.hasError('maxlength') && !username.hasError('required')">
          Username must be maxium 50 character
        </mat-error>
        <mat-error *ngIf=" username.hasError('required')">
          Username is required
        </mat-error>
      </mat-form-field>

      <mat-form-field class="form-field">
        <mat-label>Password</mat-label>
        <input type="password" matInput placeholder="Password" [formControl]="password" data-cy="password">
        <mat-error *ngIf="password.hasError('minlength') && !password.hasError('required')">
          Password must be at least 6 character
        </mat-error>
        <mat-error *ngIf="password.hasError('maxlength') && !password.hasError('required')">
          Password must be maximum 100 character
        </mat-error>
        <mat-error *ngIf=" password.hasError('required')">
          Password is required
        </mat-error>
      </mat-form-field>

      <ng-container *ngIf="isLoginValid === false">
        <mat-error class="invalid-message">Invalid username or password, Please try again</mat-error>
      </ng-container>

      <mat-card-actions>
        <button type="submit" class="login-button" mat-raised-button color="primary" data-cy="submit">Login</button>
      </mat-card-actions>
    </form>

    <div class="signup-nav">
      <span>Don't have an account?</span>
      <a routerLink="/signup">Sign up</a>
    </div>

  </div>
</div>
