@import '../../../../assets/styles/cooking-style.scss';

.under_header{
    padding-top: 3vw;
    padding-left:  10vw;
    padding-right:  10vw;
}

.yellow_bar { grid-area: yellow_bar; }
    .yellow_bar button{
    border: none;
    height: 0.5vw;
    width: 10vw;
    border-radius: 0.3vw;
    background-color: mat-color($cooking-primary, 500);
    }

.container{
    padding-left: 15vw;
    padding-right: 15vw;
    padding-top: 2vw;
  }


  .grid-container {
    display: grid;
    width: auto;
    grid-template-columns: minmax(15vw, 15vw)1fr repeat(4) ;
    grid-template-rows: auto auto;
    gap: 3vw 5vw;
    grid-template-areas:
      "tile1 tile2 tile3 tile4"
      "tile5 tile6 tile7 tile8";
  
  }
  .grid-container .cusine_img{
    width: 100%;
    max-height: 15rem;
    border-radius: 1.85rem;
    height: auto;
}
  .tile1 { grid-area: tile1; }
  .tile2 { grid-area: tile2; }
  .tile3 { grid-area: tile3; }
  .tile4 { grid-area: tile4; }
  .tile5 { grid-area: tile5; }
  .tile6 { grid-area: tile6; }
  .tile7 { grid-area: tile7; }
  .tile8 { grid-area: tile8; }

  .cusine_title{
    
    padding-top: 1vw;
    margin-bottom: 0.5vw;
    padding-left: 0.3vw;
    font-size: 1.5rem;
    font-weight: bold;
  }

  

  .ready_time{ 
    font-size: 1rem;
    color: #4f4d46;
    padding-left: 0.3vw;

  }
  .ready_time img{
    width: 1.3rem;
    height: 1.3rem;
    margin-right: 0.3vw;
  }
  .ready_time .chef{
    padding-left: 0.7vw;
  }
  .test{
      background-image: "https://picsum.photos/id/13/600/600";
      width: 100%;
      height: 100%;
  }
  .spacer{
      height: 1vw;
  }
  .padder{
      margin-left: 1vw;
  }
  
  div[class*='tile']{
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0), 0 6px 20px 0 rgba(0, 0, 0, 0.1);
    margin: 5px;
    margin-bottom: 1vw;

  }

  div[class*='tile']:hover{
    border-radius: 2rem;
    box-shadow: 0 4px 8px 0  mat-color($cooking-primary, 500), 0 6px 20px 0  mat-color($cooking-primary, 500);
    margin: 0px;
    border-right: 5px solid mat-color($cooking-primary, 500);
    margin-bottom: 1vw;
    cursor: pointer;
  }
  


  @media(max-width: 1100px){
    .grid-container{  
        grid-template-columns: minmax(15vw, 15vw)1fr repeat(2) ;
        grid-template-rows: auto auto auto auto ;
        gap: 3vw 5vw;
        grid-template-areas:
          "tile1 tile2"
          "tile3 tile4"
          "tile5 tile6"
          "tile7 tile8";
        }
        .cusine_title{
          padding-left: 1vw;
        }
        .ready_time{
          padding-left: 1vw;
        }
        .spacer{
          height: 2vw;
        }
        div[class*='tile']{
          max-width: 15rem;
          }
    }

    @media(max-width: 700px){
        .grid-container{ 
            grid-template-columns: auto ;
            grid-template-rows: auto auto auto auto auto auto auto auto ;
            gap: 3vw 3vw;
            grid-template-areas:
                "tile1"
                "tile2"
                "tile3"
                "tile4"
                "tile5"
                "tile6"
                "tile7"     
                "tile8";
            

                justify-content: center;
                align-items: center;    
            }
            .cusine_title{
              padding-left: 1vw;
            }
            .ready_time{
              padding-left: 1vw;
            }            
            .spacer{
              height: 4vw;
          }
            div[class*='tile']{
            max-width: 15rem;
            }
               
        }