@import '../../../../assets/styles/cooking-style.scss';

:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.answer-card {
  display: flex;
  justify-content: center;
  align-content: center;
  width: 12rem;
  height: 12rem;
  text-align: center;
  margin-left: 1.5vw !important;
  margin-right: 1.5vw !important;
  border-radius: 2rem;
  background-color: gray;
}

[appSliderItem] {
  flex-shrink: 0;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.nav-button {
  font-weight: 500;
  font-size: 0.9rem;
  border: 1px solid black;
  text-transform: uppercase;
  height: 3rem;
  width: 6rem;
  margin: 0 1.5vw 0 1.5vw;
  border-radius: 2rem;

  &:hover {
    border: none;
    background-color: mat-color($cooking-primary, 500);
  }
}

.question-title,
.main-title {
  margin: 2vw 10vw;
}

.question-title {
  line-height: calc(1rem + 2vw);
  font-size: calc(1rem + 2vw);
  text-align: center;
}

.main-title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 2rem 10vw 0 10vw;
}

img {
  width: 5rem;
  height: 5rem;
  object-fit: cover;
  overflow: hidden;
}

.answer-icon span {
  display: block;
}
