@import '../../../../assets/styles/cooking-style.scss';

:host ::ng-deep .mat-horizontal-stepper-header-container {
  display: none !important;
}

.answer-card {
  width: 12rem;
  height: 12rem;
  text-align: center;
  margin-left: 1.5vw !important;
  margin-right: 1.5vw !important;
  border-radius: 2rem;
  background-color: gray;
}

[appSliderItem] {
  flex-shrink: 0;
}

.nav-buttons {
  display: flex;
  justify-content: center;
  margin-top: 2rem;
}

.nav-button {
  font-weight: 500;
  font-size: 0.9rem;
  border: 1px solid black;
  text-transform: uppercase;
  height: 3rem;
  width: 6rem;
  margin: 0 1.5vw 0 1.5vw;
  border-radius: 2rem;

  &:hover {
    border: none;
    background-color: mat-color($cooking-primary, 500);
  }
}

.question-title,
.main-title {
  margin: 3rem 10vw;
}

.main-title {
  display: flex;
  justify-content: center;
  text-align: center;
  margin: 3rem 10vw 0 10vw;
}

img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  overflow: hidden;
}

// .answers-carousel {}

// .answers-grid {
//   background-color: red;
// }

// .answer-card {
//   width: 30%;
//   height: 200px;
//   margin-right: 10px;
//   background-color: #f9d8b1;
//   counter-increment: answer-card;
// }

// .answer-card:before {
//   display: block;
//   text-align: center;
//   content: counter(answer-card);
//   line-height: 200px;
//   font-size: 80px;
//   color: white;
// }



// @mixin scalable-grid($height) {
//   height: $height;
//   width: 100%;

//   display: grid;
//   grid-gap: 1rem;
//   grid-template-columns: repeat(auto-fit, minmax(1%, 1fr));
// }

// .answers-carousel {
//   height: 10vw;
//   display: flex;
//   justify-content: center;
//   width: 100%;
// }

// .answers-grid {
//   $height: 10vw;
//   @include scalable-grid($height);
// }

// .answer-card {
//   background-color: #f9d8b1;
// }
