<mat-horizontal-stepper #stepper>
  <mat-step *ngFor="let question of questionnaire; let i = index">
    <div class="question-title mat-subheading-2" data-cy="questionnaire-question" *ngIf="questions">
      {{ questions[questionArrIndex].value }}
    </div>
    <app-slider>
      <mat-chip-list #matChipList [attr.data-cy]="'chip-list-' + i" appSliderItem selectable>
        <mat-chip
          class="answer-card"
          #chip="matChip"
          *ngFor="let answer of question.values; let i = index"
          [value]="answer"
          [attr.data-cy]="'questionnaire-answer-card-' + i"
          (click)="onSetAnswer(matChipList.chips, chip)"
        >
          <div class="answer-icon" data-cy="questionnaire-answer-icon">
            <img src="https://cookingstorage.blob.core.windows.net/icons/{{ answer }}.svg" />
            <span data-cy="questionnaire-answer">{{ answer }}</span>
          </div>
        </mat-chip>
      </mat-chip-list>
    </app-slider>
  </mat-step>
</mat-horizontal-stepper>

<div class="nav-buttons" data-cy="questionnaire-nav-buttons" [ngSwitch]="questionArrIndex">
  <ng-container *ngSwitchCase="0">
    <button class="nav-button" data-cy="next-button" mat-raised-button (click)="onNextQuestion(stepper)">Next</button>
  </ng-container>

  <ng-container *ngSwitchCase="lengthOfQuestions - 1">
    <button class="nav-button" data-cy="back-button" mat-raised-button (click)="onPreviousQuestion(stepper)">
      Back
    </button>
    <button class="nav-button" data-cy="submit-button" mat-raised-button (click)="onSubmitQuestionnaire()">
      Submit
    </button>
  </ng-container>

  <ng-container *ngSwitchDefault>
    <button class="nav-button" data-cy="back-button" mat-raised-button (click)="onPreviousQuestion(stepper)">
      Back
    </button>
    <button class="nav-button" data-cy="next-button" mat-raised-button (click)="onNextQuestion(stepper)">Next</button>
  </ng-container>
</div>
