<mat-horizontal-stepper #stepper>
  <mat-step label="transaction">
    <app-slider>
      <div appSliderItem>
        <div class="answer-card">
          test </div>
      </div>
      <div appSliderItem>
        <div class="answer-card">
          test </div>
      </div>
      <div appSliderItem>
        <div class="answer-card">
          test </div>
      </div>
      <div appSliderItem>
        <div class="answer-card">
          test </div>
      </div>
      <div appSliderItem>
        <div class="answer-card">
          test </div>
      </div>
    </app-slider>
    <div>
      <button mat-raised-button color="primary" matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <app-slider>
      <div appSliderItem>
        <div class="answer-card">
          test </div>
      </div>
      <div appSliderItem>
        <div class="answer-card">
          test </div>
      </div>
      <div appSliderItem>
        <div class="answer-card">
          test </div>
      </div>
    </app-slider>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button matStepperNext>Next</button>
    </div>
  </mat-step>
  <mat-step>
    <app-slider>
      <div appSliderItem>
        <div class="answer-card">
          test </div>
      </div>
      <div appSliderItem>
        <div class="answer-card">
          test </div>
      </div>
      <div appSliderItem>
        <div class="answer-card">
          test </div>
      </div>
    </app-slider>
    <div>
      <button mat-button matStepperPrevious>Back</button>
      <button mat-button>Submit</button>
    </div>
  </mat-step>
</mat-horizontal-stepper>
