@media screen and (max-width: 1000px) {
  .dialog-title {
    font-size: 2rem;
    line-height: 2rem;
  }
}

@media screen and (max-width: 480px) {
  .dialog-title {
    font-size: 1.5rem;
    line-height: 1.5rem;
  }
}
